@font-face {
    font-family: EqualSans;
    src: url('../fonts/equalsans_demo.ttf');
}

/* ------------ globais ------------ */
body {
    margin: 0;
    font-family: sans-serif;
}

main, header {
    padding: 8px;
}

h1, h2, h3, h4, h5, h6, .menu, .titulo, .meu-trabalho, .trabalho__titulo, .conhecimentos__titulo {
    font-family: EqualSans, sans-serif;
}

/* ------------ menu principal ------------ */
.menu ul, .menu ul li  {
    display: inline-block;
}

.menu ul {
    width: 100%;
    padding: 6px 0 6px 0;
    font-size: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu ul li {
    margin-right: 8px;
    text-transform: uppercase;
}

.menu ul li a:active {
    color: orangered;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}

/* ------------ header ------------ */
.logotipo {
    width: 35%;
    filter: invert(100%);
}

header {
    padding: 32px 8px;
    background-image: url('../img/using-notebook.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px -25px 100px 5px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}

.titulo, .descricao, .meu-trabalho {
    color: white;
}

.titulo {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    text-shadow: 2px 2px black;
}

.descricao {
    font-style: italic;
}

.meu-trabalho {
    padding: 8px 25px;
    background: orangered;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 12px;
    font-size: 1.5rem;
    margin: 16px 0 16px 0;
}

/* ------------ main ------------ */
main {
    background-color: #f4f8f9;
}

/* ------------ artigo trabalho ------------ */
.trabalho {
    
}

.hifen {
    width: 20px;
    height: 5px;
    background-color: orangered;
}

.trabalho__titulo {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.trabalho__imagem {
    display: block;
    margin: 0 auto;
}

/* ------------ section portfolio ------------ */
.portfolio {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* ------------ article conhecimentos ------------ */
.conhecimentos {
    margin: 1rem 0;
}

.conhecimentos__titulo {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.conhecimentos__frase {
    font-size: 1.2rem;
    font-family: "Times New Roman";
}

/* ------------ graficos ------------ */
.graficos {
    width: 100%;
}

.graficos__barra {
    width: 90%;
    margin: 1rem auto;
    border-radius: 30px;    
}

.graficos__barra[value]::-webkit-progress-bar {
    background-color: #ccc;
    border-radius: 40px;
}

.graficos__barra[value]::-webkit-progress-value {
    background-color: orangered;
    border-radius: 40px;
}

.graficos__texto {
    position: absolute;
    left: 12px;
    margin-top: 16px;
    color: white;
}

/* ------------ media query tablet ------------ */

@media screen and (min-width: 740px)
{
    main, header {
        padding: 16px;
    }

    /* ------------ header ------------ */
    header {
        padding-bottom: 50px;
    }
    
    .logotipo {
        width: 20%;
    }

    .menu ul {
        font-size: 1.5rem;
    }

    .titulo {
        margin: 0;
        font-size: 3rem;
    }

    .descricao {
        font-size: 1.5rem;
    }

    .meu-trabalho {
        letter-spacing: 3px;
    }
}

/* ------------ media query desktop ------------ */

@media screen and (min-width: 1024px)
{
    header, main {
        padding: 2rem 8rem 8rem 8rem;
    }

    /* ------------ menu principal ------------ */
    .menu {
        display: table;
        width: 100%;
    }

    .logotipo {
        width: 60%;
    }

    .menu ul {
        display: table-cell;
        vertical-align: middle;
        width: 80%;
        border: none;
    }

    .menu ul li {
        margin: 0 1.5rem;
    }

    .trabalho {
        display: inline-block;
        width: calc(100% / 3);
        margin-right: -4px;
        padding-bottom: 3rem;
    }

    .trabalho__conteudo {
        width: 80%;
    }

    .experiencia {
        padding-top: 3rem;
    }

    .conhecimentos {
        width: 60%;
        vertical-align: top;
        display: inline-block;
        margin-right: -4px;
    }

    .graficos {
        width: 40%;
        height: 100%;
        display: inline-block;
        position: relative;
        margin: 3rem -4px 0 0;
    }
}